  
* { margin: 0; padding: 0; box-sizing: border-box; }

html{
    scroll-behavior: smooth;
    
}

body{
    background-color: rgba(196, 196, 197, 0.855);
    line-height: 1.5;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section > article {
    color: #4d4e53;
    margin: 19px;
    font-size: 0.96em;
}

section > li {
    margin: 15px 0px 0px 20px;
}
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#navbar > ul > a{
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    cursor: pointer;  
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media(max-width: 815px){
    #navbar ul {
        border: 1px solid;
    height: 226px;
    flex-direction: column;
    align-items: center;
    }

}
